#############################################################################################
#                             comboom.sucht Menu CONFIGURATION                              #
#             Execute this file in your server.cfg: exec @comboom.sucht-menu/config.cfg     #
#############################################################################################

# Set the menu title
setr cbps_menu_title "comboom.sucht Menu"

# Set the menu subtitle
setr cbps_menu_subtitle "Server Menu"

# Set the menu toggle key (Default: M)
setr cbps_menu_key "M"

# Theme Colors (R,G,B,A) - Default: Nordic Theme
setr cbps_header_color "94,129,172,255"
setr cbps_highlight_color "136,192,208,255"
setr cbps_background_color "46,52,64,200"
setr cbps_text_color "236,239,244,255"

# Banner Texture (Default: commonmenu interaction_bgd)
setr cbps_banner_dictionary "commonmenu"
setr cbps_banner_texture "interaction_bgd"

# Voice Chat Settings
setr cbps_default_proximity 15
setr cbps_enable_radio_default "true"

#############################################################################################
#                                       PERMISSIONS                                         #
#############################################################################################

# Global Permissions
add_ace builtin.everyone "cbps.Everything" allow # WARNING: Grants ALL permissions
# add_ace group.admin "cbps.DontKickMe" allow
# add_ace group.admin "cbps.DontBanMe" allow
add_ace builtin.everyone "cbps.NoClip" allow
add_ace group.moderator "cbps.Staff" allow

##############################
#    ONLINE PLAYERS MENU     #
##############################
add_ace builtin.everyone "cbps.OnlinePlayers.Menu" allow
add_ace builtin.everyone "cbps.OnlinePlayers.Teleport" allow
add_ace builtin.everyone "cbps.OnlinePlayers.Spectate" allow
add_ace group.moderator "cbps.OnlinePlayers.Summon" allow
add_ace group.moderator "cbps.OnlinePlayers.Kill" allow
add_ace group.moderator "cbps.OnlinePlayers.Kick" allow
add_ace group.moderator "cbps.OnlinePlayers.TempBan" allow
add_ace group.admin "cbps.OnlinePlayers.PermBan" allow
add_ace group.admin "cbps.OnlinePlayers.Unban" allow

##############################
#    PLAYER OPTIONS MENU     #
##############################
add_ace builtin.everyone "cbps.PlayerOptions.Menu" allow
add_ace builtin.everyone "cbps.PlayerOptions.All" allow
# add_ace builtin.everyone "cbps.PlayerOptions.God" allow
# add_ace builtin.everyone "cbps.PlayerOptions.Invisible" allow
# add_ace builtin.everyone "cbps.PlayerOptions.FastRun" allow
# add_ace builtin.everyone "cbps.PlayerOptions.Superjump" allow
# add_ace builtin.everyone "cbps.PlayerOptions.NoRagdoll" allow

##############################
#    VEHICLE OPTIONS MENU    #
##############################
add_ace builtin.everyone "cbps.VehicleOptions.Menu" allow
add_ace builtin.everyone "cbps.VehicleOptions.All" allow
# add_ace builtin.everyone "cbps.VehicleOptions.God" allow
# add_ace builtin.everyone "cbps.VehicleOptions.Repair" allow
# add_ace builtin.everyone "cbps.VehicleOptions.SpeedLimiter" allow

##############################
#    VEHICLE SPAWNER MENU    #
##############################
add_ace builtin.everyone "cbps.VehicleSpawner.Menu" allow
add_ace builtin.everyone "cbps.VehicleSpawner.All" allow
# add_ace builtin.everyone "cbps.VehicleSpawner.SpawnByName" allow

##############################
#    SAVED VEHICLES MENU     #
##############################
add_ace builtin.everyone "cbps.SavedVehicles.Menu" allow
add_ace builtin.everyone "cbps.SavedVehicles.All" allow

##############################
#   PERSONAL VEHICLE MENU    #
##############################
add_ace builtin.everyone "cbps.PersonalVehicle.Menu" allow
add_ace builtin.everyone "cbps.PersonalVehicle.All" allow

##############################
#   PLAYER APPEARANCE MENU   #
##############################
add_ace builtin.everyone "cbps.PlayerAppearance.Menu" allow
add_ace builtin.everyone "cbps.PlayerAppearance.All" allow

##############################
#    WEAPON OPTIONS MENU     #
##############################
add_ace builtin.everyone "cbps.WeaponOptions.Menu" allow
add_ace builtin.everyone "cbps.WeaponOptions.All" allow
# add_ace builtin.everyone "cbps.WeaponOptions.UnlimitedAmmo" allow

##############################
#    WEAPON LOADOUTS MENU    #
##############################
add_ace builtin.everyone "cbps.WeaponLoadouts.Menu" allow
add_ace builtin.everyone "cbps.WeaponLoadouts.All" allow

##############################
#    TIME & WEATHER MENU     #
##############################
add_ace group.moderator "cbps.TimeOptions.Menu" allow
add_ace group.moderator "cbps.TimeOptions.All" allow
add_ace group.moderator "cbps.WeatherOptions.Menu" allow
add_ace group.moderator "cbps.WeatherOptions.All" allow

##############################
#    MISC SETTINGS MENU      #
##############################
add_ace builtin.everyone "cbps.MiscSettings.Menu" allow
add_ace builtin.everyone "cbps.MiscSettings.All" allow
add_ace builtin.everyone "cbps.MiscSettings.TeleportToWp" allow
add_ace builtin.everyone "cbps.MiscSettings.ShowCoordinates" allow

##############################
#    RECORDING MENU          #
##############################
add_ace builtin.everyone "cbps.Recording.Menu" allow
add_ace builtin.everyone "cbps.Recording.All" allow

################################
#    TEAMS & VOICE CHAT        #
################################
add_ace builtin.everyone "cbps.Teams.Menu" allow
add_ace builtin.everyone "cbps.Teams.All" allow
add_ace builtin.everyone "cbps.VoiceChat.Menu" allow
add_ace builtin.everyone "cbps.VoiceChat.All" allow
